### PERTEMUAN 2 ###

In [ ]:
number = 10
if number > 0:
  print("angka Positif")
  print("didalam statement if")
print("luar dari if statement")

angka Positif
didalam statement if
luar dari if statement

In [ ]:
#  inputan
transaksi = 10000
grade = 80

#  logic discount
discount = 10
if grade > 7:
  discount = 50
#  logic

total_transaksi = transaksi - discount
print(total_transaksi)

9950

In [ ]:
# 
number = 10
if number > 0 :
  print("Angka Positif")
else:
  print("angka negatif")

print("diluar dari kondisi if else")

Angka Positif
diluar dari kondisi if else

In [ ]:
umur = 18
if umur == 18:
  print("kamu remaja")
else:
  print("kamu bukan remaja")

kamu remaja

In [ ]:
number = 5
if number > 0 :
  print("Angka Positif")
elif number < 0 :
  print("Angka Negatif")
else:
  print("angka 0")

print("diluar dari kondisi if else")

Angka Positif
diluar dari kondisi if else

In [ ]:
nilai = 59
absen = 6
sopan = True

if nilai < 60:
  print("dipertimbangkan")
  if absen < 7:
    print("Lulus dengan pertimbangan")
  else:
    if sopan:
      print("Karena baik, maka lulus")
    else:
      print("tidak lulus")
else:
  print("Lulus")

dipertimbangkan
Lulus dengan pertimbangan

In [ ]:
x = 5
y = 6
i = 2
j = 3
if 'foo' in ['foo','bar','baz']:
    print("foo ditemukan")

    if x > y:
      print("Nilai x lebih besar dari Y")

    print("Kondision foo in list")

    if i < j:
      print("Nilai i lebih besar dari j")

    print("Statement terakhir")
print("selesai")

foo ditemukan
Kondision foo in list
Nilai i lebih besar dari j
Statement terakhir
selesai

In [ ]:
print("Hello saya benar") if "H" in "Hellooooo" else print("Hello kondisi salah")

Hello saya benar

In [ ]:
hujan = True
print("Let's go to teh ...", "beach" if not hujan else "Library")

Let's go to teh ... Library

In [ ]:
umur = 4
status_vaksin = "belum boleh vaksin" if umur < 5 else "boleh vaksin"
print(status_vaksin)

belum boleh vaksin

#### Perulangan ####

In [ ]:
bahasa = ['Golang','Python','Java','C#','Rust','Vlang']
print(bahasa)

for lang in bahasa:
  print("Bahasa pemrograman")
  print(lang)

['Golang', 'Python', 'Java', 'C#', 'Rust', 'Vlang']
Bahasa pemrograman
Golang
Bahasa pemrograman
Python
Bahasa pemrograman
Java
Bahasa pemrograman
C#
Bahasa pemrograman
Rust
Bahasa pemrograman
Vlang

In [ ]:
mahasiswa = {"Nim":"201810101115","Nama":"Wiguna Yanas","Nilai":"90"}

for mhs in mahasiswa:
  print(mhs)
  print(mahasiswa[mhs])

Nim
201810101115
Nama
Wiguna Yanas
Nilai
90

In [ ]:
for k, v in mahasiswa.items():
  print(k, ":", v)

Nim : 201810101115
Nama : Wiguna Yanas
Nilai : 90

In [ ]:
value = range(5)
print(value)

for i in value:
  print(i)

range(0, 5)
0
1
2
3
4

In [ ]:
for i in (0,1,2,3,4):
  print(i)

0
1
2
3
4

In [ ]:
angka = range(10)

for i in angka:
  if i % 2 == 0:
    print(i, "Genap")
  else:
    print(i, "Ganjil")

0 Genap
1 Ganjil
2 Genap
3 Ganjil
4 Genap
5 Ganjil
6 Genap
7 Ganjil
8 Genap
9 Ganjil

In [ ]:
digit = [0,1,2,3,4,5]

for i in digit:
  print(i)
else:
  print("No item left")

0
1
2
3
4
5
No item left

In [ ]:
for i in range(5):
  print("Loop in range")
  if i == 3:
    break

  print("cetak angka ke ",i)

Loop in range
cetak angka ke  0
Loop in range
cetak angka ke  1
Loop in range
cetak angka ke  2
Loop in range

In [ ]:
for varlist in ['foo','bar','baz', 'qmux']:
  print(varlist)
  if 'z' in varlist:
    break

  print(i)
  i += 1
print(i)

foo
3
bar
4
baz
5

In [ ]:
for varlist in ['foo','bar','baz', 'qmux']:
  print(varlist)
  if 'r' in varlist:
    print("r Ditemukan")
    continue
  
  print("kondisi dibawah continue")
print("selesai")

foo
kondisi dibawah continue
bar
r Ditemukan
baz
kondisi dibawah continue
qmux
kondisi dibawah continue
selesai

In [ ]:
i = 1
n = 5
while i <= n:
  print(i)
  i +=1

1
2
3
4
5

In [ ]:
counter = 1
while counter < 4:
  print("didalam while")
  counter += 1
else:
  print("inside while else")

didalam while
didalam while
didalam while
inside while else

In [ ]:
x = ['cat','dog']

while len(x):
  print(x.pop(0))

  y = ['gug','meow']

  while(len(y)):
    print('>', y.pop(0))

cat
> gug
> meow
dog
> gug
> meow

In [ ]:
x = 4
while x > 0: x -=1; print(x)

3
2
1
0

In [ ]:
while True:
  msg = input("Ketikan karakter : ")
  print(msg)

  if msg =="stop":
    break

Ketikan karakter : halo
halo
Ketikan karakter : aku siapa?
aku siapa?
Ketikan karakter : stop
stop

In [ ]:
def SwitchExamples(args):
  switch = {
      0 : "angka nol",
      1 : "angka satu",
      2 : "angka dua"
  }
  return switch.get(args,"Nothing")

In [ ]:
hasil = SwitchExamples(1)
print(hasil)

angka satu

In [ ]:
hasil = 0
temp = input("Ketik temperatur yang ingin dikonversi eg. 40F, 18C : ")
print(type(temp))
print(temp)
degree = int(temp[:-1])
print("degree : ", degree)
print(f"format degree : {degree} ")

convertion = temp[-1]
print("Convertion : ",convertion)

if convertion == 'C':
  print("celcius")
  hasil = int(round(9* degree)/5 +32)
elif convertion == 'F':
  print("F")
  hasil = int(round(degree-32)* 5 /9)
else:
  print("Yang anda input salah")
print("temperatur adalah : ", hasil, "Derajat")

Ketik temperatur yang ingin dikonversi eg. 40F, 18C : 18
<class 'str'>
18
degree :  18
format degree : 18
Convertion :  8
Yang anda input salah
temperatur adalah :  0 Derajat

In [ ]:
for x in range(1,6):
  for y in range(x)
    print("*")

SyntaxError: ignored