In [ ]:
print("Hello Wiguna")
print("Saya Python")
print("Universitas Jember")
print("Fakultas MIPA")

In [ ]:
def cetak_kata():
  print("Hello Wiguna")
  print("Saya Python")
  print("Universitas Jember")
  print("Fakultas MIPA")

In [ ]:
cetak_kata()

Hello Wiguna
Saya Python
Universitas Jember
Fakultas MIPA

In [ ]:
def penjumlahan(x,y):
  """
  ini adalah function penjumlahan dari parameter x + parameter y
  dan mengembalikan nilai dari penjumlahan
  """
  total = x + y
  return total

In [ ]:
a = 10
b = 20
hasil = penjumlahan(a,b)
print(hasil)

30

In [ ]:
c = 1
d = 2
hasil = penjumlahan(c,d)
print(hasil)

3

In [ ]:
x = 10
hasil = x % 2
if hasil ==1:
  print("Bilangan Ganjil")
else:
  print("Bilangan Genap")

Bilangan Genap

In [ ]:
print(10 % 2)
bool(10 % 2)

0

False

In [ ]:
# buat function cek bilangan ganjil atau genap
def ganjilgenap(a):
  if a % 2 == 0:
    print(a, "adalah bilangan genap")
  else:
    print(a, "adalah bilangan ganjil")

In [ ]:
ganjilgenap(2)
ganjilgenap(3)

2 adalah bilangan genap
3 adalah bilangan ganjil

In [ ]:
x = 2
ganjilgenap(x)

2 adalah bilangan genap

In [ ]:
hasil = ganjilgenap(20)
print(hasil)

20 adalah bilangan genap
None

In [ ]:
# aturan penamaan function
# - dimulai huruf (A - Z, a - z)
# - dimulai menggunakan _ (undescore)

In [ ]:
def cetak(data):
  print(data)
  return

In [ ]:
tampung = cetak("Hello")
print(tampung)

Hello
None

In [ ]:
### pass by reference

In [ ]:
listx = [10,20,30]
print(f"isi dari list x {listx}")

isi dari list x [10, 20, 30]

In [ ]:
listx.append(40)

In [ ]:
print(f"isi dari list x {listx}")

isi dari list x [10, 20, 30, 40]

In [ ]:
def penambahanlist(mylist):
  mylist.append([1,3,5,7])
  print("Penambahan Selesai")

In [ ]:
list1 = [30,50,70]
hasil = penambahanlist(list1)
print(hasil)

Penambahan Selesai
None

In [ ]:
print(list1)

[30, 50, 70, [1, 3, 5, 7]]

In [ ]:
def perubahanlist(mylist):
  print(f"Parameter yang dikirim {mylist}")
  mylist = [9,8,3]
  print(f"parameter mylist di assign value baru {mylist}")
  print("Penambahan Selesai")

In [ ]:
list2 = [30,50,70]
perubahanlist(list2)
print(f"hasil setelah panggil func perubahanlist {list2}")

Parameter yang dikirim [30, 50, 70]
parameter mylist di assign value baru [9, 8, 3]
Penambahan Selesai
hasil setelah panggil func perubahanlist [30, 50, 70]

In [ ]:
## function requirement
def cetak(data):
  print(data)
  return

In [ ]:
cetak("halo")

halo

In [ ]:
def hitung(x, y):
  return x - y

In [ ]:
ant = 10000
disc = 100

hasil = hitung(ant, disc)
print(hasil)

9900

In [ ]:
def totalbelanja(ant, disc):
  return ant - disc

In [ ]:
hasil = totalbelanja(disc = 100, ant=10000)
print(hasil)

9900

In [ ]:
def totalbelanja2(ant, disc=10):
  return ant - disc

In [ ]:
hasil = totalbelanja2(10000)
print(hasil)

9990

In [ ]:
hasil = totalbelanja2(10000,500)
print(hasil)

9500

In [ ]:
def cetakargument(*args):
  print(args)
  print(type(args))

In [ ]:
cetakargument(1,2,3,4,5,6,7,8,9,10,11,12)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)
<class 'tuple'>

In [ ]:
def cetak(param1, *args):
  print(f"Parameter 1 : {param1}")
  print(f"Parameter 2 sebagai args : {args}")
  for x in args:
    print(f"cetal {x}")
  print("Function Done")

In [ ]:
vara = "helo"
cetak(vara,1,2,3,4,5,6,7,8,9,10)

Parameter 1 : helo
Parameter 2 sebagai args : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
cetal 1
cetal 2
cetal 3
cetal 4
cetal 5
cetal 6
cetal 7
cetal 8
cetal 9
cetal 10
Function Done

In [ ]:
def func_cetak(param1, param2, param3):
  print(f"param1 = {param1}, param2 = {param2}, param3 = {param3}")

In [ ]:
x = 10
y = 20
z = {1,2,3,4,5,6,7,8,9,10}
func_cetak(x,y,z)

param1 = 10, param2 = 20, param3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
print(z)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
def cetakarg(**parameters):
  print(parameters)

In [ ]:
cetakarg(name="Wiguna", job="Data Analyst", description = "Technical Data")

{'name': 'Wiguna', 'job': 'Data Analyst', 'description': 'Technical Data'}

In [ ]:
vardict = {
    "Judul":"Belajar python",
    "halaman":100,
    "harga":10000
}
print(type(vardict))
cetakarg(**vardict)

<class 'dict'>
{'Judul': 'Belajar python', 'halaman': 100, 'harga': 10000}

In [ ]:
def cekpolindrome(kata):
  if len(kata) < 2:
    return True
  
  if kata[0] != kata[-1]:
    return False
  
  return cekpolindrome(kata[1:-1])

In [ ]:
cekpolindrome("adah")

False

In [ ]:
## lambda function
perkalian = lambda args1, args2 : args1 * args2

In [ ]:
def perkalian(args1, args2):
  return args1 + args2